spring:
  datasource:
    url: jdbc:postgresql://127.0.0.1:5433/taskchi
    username: taskchi
    password: taskchi

  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false
    properties:
      hibernate:
        jdbc:
          time_zone: UTC

  flyway:
    enabled: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,loggers
